.rectangle {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    background: #4da1f7;
}

.button {
    display: flex;
    width: auto;
    height: auto;
    margin: 5px;
    background: #ecc92c;
}

.container {
    display: flex;
    margin: auto;
}